<br><p *ngIf = "!(covidsData$ | async)&&!hasError">Loading data..</p>
<mat-progress-bar *ngIf = "!(covidsData$ | async)&&!hasError" mode="indeterminate"></mat-progress-bar>
<mat-tab-group >
    <mat-tab label="Confirmed"> <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             *ngFor = "let covid of covidsData$ | async">
          <mat-expansion-panel-header>
            <mat-panel-title>
                {{covid.Date.substring(0, 10)}}
            </mat-panel-title>
           <!-- <mat-panel-description>   
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          {{covid.Confirmed | number}} confirmed cases
            </mat-expansion-panel>
      </mat-accordion> </mat-tab>
    <mat-tab label="Recovered"> <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             *ngFor = "let covid of covidsData$ | async">
          <mat-expansion-panel-header>
            <mat-panel-title>
                {{covid.Date.substring(0, 10)}}
            </mat-panel-title>
           <!-- <mat-panel-description>   
            </mat-panel-description> -->
          </mat-expansion-panel-header>
              {{covid.Recovered | number}} recovered cases
              
        </mat-expansion-panel>
      </mat-accordion> </mat-tab>
    <mat-tab label="Active"> <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             *ngFor = "let covid of covidsData$ | async">
          <mat-expansion-panel-header>
            <mat-panel-title>
                {{covid.Date.substring(0, 10)}}
            </mat-panel-title>
           <!-- <mat-panel-description>   
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          
              {{covid.Active | number}} active cases
               
        </mat-expansion-panel>
      </mat-accordion> </mat-tab>
      <mat-tab label="Death"> <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             *ngFor = "let covid of covidsData$ | async">
          <mat-expansion-panel-header>
            <mat-panel-title>
                {{covid.Date.substring(0, 10)}}
            </mat-panel-title>
           <!-- <mat-panel-description>   
            </mat-panel-description> -->
          </mat-expansion-panel-header>
              {{covid.Deaths | number}} death cases
        </mat-expansion-panel>
      </mat-accordion> </mat-tab>
  </mat-tab-group>
