
    <mat-card>
      <h1>Add stroke check</h1>
      <form #strokeForm="ngForm">
        <div class="example-container">
          <p>
            <label>Name</label>
            <br>
            <mat-form-field>
              <input matInput placeholder="Full name" [(ngModel)]="name" name="name" type="string" required>
            </mat-form-field>
          </p>
          <p>
            <label>Age</label>
            <br>
            <mat-form-field>
              <input matInput placeholder="Age of the patient" [(ngModel)]="age" name="age" type="number" required>
            </mat-form-field>
          </p>
          <p>
            <label>Gender</label>
            <br>
            <mat-form-field appearance="fill">
              <mat-select matNativeControl [(ngModel)]="gender" name="gender" required>
                <mat-option [value]="0">Female</mat-option>
                <mat-option [value]="1">Male</mat-option>
              </mat-select>
            </mat-form-field>
          </p>
          
          <p>
          <label>Hypertension</label>
          <br>
          <mat-form-field appearance="fill">
            <mat-select matNativeControl [(ngModel)]="hypertension" name="hypertension" required>
              <mat-option [value]="0">No</mat-option>
              <mat-option [value]="1">Yes</mat-option>
            </mat-select>
          </mat-form-field>
          </p>

          <p>
            <label>Heart disease</label>
            <br>
            <mat-form-field appearance="fill">
              <mat-select matNativeControl [(ngModel)]="heart_disease" name="heart_disease" required>
                <mat-option [value]="0">No</mat-option>
                <mat-option [value]="1">Yes</mat-option>
              </mat-select>
            </mat-form-field>
            </p>

            <p>
              <label>Ever married ?</label>
              <br>
              <mat-form-field appearance="fill">
                <mat-select matNativeControl [(ngModel)]="ever_married" name="ever_married" required>
                  <mat-option [value]="0">No</mat-option>
                  <mat-option [value]="1">Yes</mat-option>
                </mat-select>
              </mat-form-field>
              </p>
  
           
          
          <p>
            <label>Work type</label>
            <br>
            <mat-form-field appearance="fill">
              <mat-select matNativeControl [(ngModel)]="work_type" name="work_type" required>
                <mat-option [value]="0">Private</mat-option>
                <mat-option [value]="1">Self-employed</mat-option>
                <mat-option [value]="2">Govt job</mat-option>
                <mat-option [value]="3">Children</mat-option>
                <mat-option [value]="4">Never worked</mat-option>
              </mat-select>
            </mat-form-field>
          </p>
          <p>
            <label>Residence type</label>
            <br>
            <mat-form-field appearance="fill">
              <mat-select matNativeControl [(ngModel)]="Residence_type" name="Residence_type" required>
                <mat-option [value]="0">Urban</mat-option>
                <mat-option [value]="1">Rural</mat-option>
              </mat-select>
            </mat-form-field>
          </p>
          <p>
            <label>Avg glucose level</label>
            <br>
            <mat-form-field>
              <input matInput placeholder="Avg glucose level" [(ngModel)]="avg_glucose_level" name="avg_glucose_level" type="number" required>
            </mat-form-field>
          </p>

          <p>
            <label>BMI</label>
            <br>
            <mat-form-field>
              <input matInput placeholder="BMI" [(ngModel)]="bmi" name="bmi" type="number" required>
            </mat-form-field>
          </p>
                    <p>
            <label>Smoking status</label>
            <br>
            <mat-form-field appearance="fill">
              <mat-select matNativeControl [(ngModel)]="smoking_status" name="smoking_status" required>
                <mat-option [value]="0">Formerly</mat-option>
                <mat-option [value]="1">Never</mat-option>
                <mat-option [value]="2">Smoking</mat-option>
              </mat-select>
            </mat-form-field>
          </p>

                    <span  [ngClass]="[result=='Low probability to stroke' ? 'green' : 'red']">{{result}}</span>
                    <br>

                   <br>
          <div>
            <button *ngIf='!result'  mat-raised-button color="primary" (click)="predict()">Predict</button>
          </div>
          <div>
            <button *ngIf='result' mat-raised-button color="primary" (click)="addStroke()">
              Submit
            </button>
          </div>
          <div>
            <button *ngIf='result'  (click) = "cancel()" mat-raised-button>
              Cancel
            </button>
          </div>
        </div>
      </form>
    </mat-card>