.example-card {
    max-width: 300px;
    text-align:justify;
    margin: 7px;
  }
  
  .example-header-image {
    background-image: url('https://cdn.couteaux-du-chef.fr/39206/menagere-24-couverts-table-hotel-amefa-inox-180.jpg');
    background-size: cover;
  }

  .button{
      width:300px;
      border:none;
      cursor:pointer;
      font-size: large;
      font-style:bold;
      background-color:rgb(189, 187, 187);
      position: relative;
      opacity: 0.6;
    }

    .button:hover {
      opacity: 1;
    font-style:bold;
    }

    .button:active {
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
