  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>    {{name}}
    </mat-card-title>
      <mat-card-subtitle>    {{type}} restaurant
    </mat-card-subtitle>
    </mat-card-header>
    <img class="img"mat-card-image src="https://loremflickr.com/500/500/restaurant" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        <b>Description :</b> {{description}} <br><br>
       <b>Review</b> : <i>"{{review}}"</i>
      </p>
      <p><b>More infos : </b>
        {{phone_number}}<br>        {{address}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="reloadPage()"  class="button"
      >Show me another restaurant</button>
    </mat-card-actions>
  </mat-card>