<p></p>
<div *ngIf="(authService.getUser() | async)"></div>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Haim" #input>
</mat-form-field>
 <div *ngIf="(authService.getUser()| async)">
  <button mat-raised-button color="primary" class="addbutton" (click)="openform()">
    Add stroke check  </button>
</div>
<br>


<table mat-table [dataSource]="strokes" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element ;  let i = index">
      <span>{{element.name}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> Age </th>
    <td mat-cell *matCellDef="let element;  let i = index">
      <span>{{element.age}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef> Gender </th>
    <td mat-cell *matCellDef="let element;  let i = index">
      <span>{{genderDict[element.gender]}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="hypertension">
    <th mat-header-cell *matHeaderCellDef> Hypertension </th>
    <td mat-cell *matCellDef="let element;  let i = index">
      <span>{{hypertensionDict[element.hypertension]}}</span>
    </td>
  </ng-container>


    <ng-container matColumnDef="work_type">
      <th mat-header-cell *matHeaderCellDef> Work</th>
      <td mat-cell *matCellDef="let element;  let i = index">
        <span>{{workDict[element.work_type]}}</span>
      </td>
    </ng-container>

      <ng-container matColumnDef="smoking_status">
        <th mat-header-cell *matHeaderCellDef> 
          Smoking </th>
        <td mat-cell *matCellDef="let element;  let i = index">
          <span>{{smokeDict[element.smoking_status]}}</span>
        </td>
      </ng-container>

        <ng-container matColumnDef="Residence_type">
          <th mat-header-cell *matHeaderCellDef> Residence</th>
          <td mat-cell *matCellDef="let element;  let i = index">
            <span>{{residenceDict[element.Residence_type]}}</span>
          </td>
  </ng-container>

  <ng-container matColumnDef="ever_married">
    <th mat-header-cell *matHeaderCellDef> Ever married </th>
    <td mat-cell *matCellDef="let element;  let i = index">
      <span>{{marriedDict[element.ever_married]}}</span>
    </td>
  </ng-container>

    <ng-container matColumnDef="heart_disease">
      <th mat-header-cell *matHeaderCellDef> Heart disease </th>
      <td mat-cell *matCellDef="let element;  let i = index">
        <span>{{heartDict[element.heart_disease]}}</span>
      </td>
  </ng-container>

  <ng-container matColumnDef="bmi">
    <th mat-header-cell *matHeaderCellDef> BMI </th>
    <td mat-cell *matCellDef="let element;  let i = index">
      <span>{{element.bmi}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="avg_glucose_level">
    <th mat-header-cell *matHeaderCellDef> Av. glucose level  </th>
    <td mat-cell *matCellDef="let element;  let i = index">
      <span>{{element.avg_glucose_level}}</span>
    </td>
  </ng-container>

 

  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef> Result </th>
    <td mat-cell *matCellDef="let element;  let i = index">
      <span  [ngClass]="[element.result=='Low probability to stroke' ? 'green' : 'red']">{{element.result}}</span>

    </td>
  </ng-container>



  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button mat-raised-button class="delbutton" (click)="deleteStroke(i)">
        Delete
      </button>
    </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
  
</table>
<mat-paginator [length]="20"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>