table {
    width: 100%;
  }
  .green {
    color:green;
    font-weight:bold;

  }
  .red {
    color:red;
    font-weight:bold;

  }
  .mat-header-cell{
    text-align: center;
    color:black;

  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }  
  .mat-cell{
    font-size:12px;
    text-align: center;
    font-family: Verdana,Sans-Serif;
    display: table-cell;
    height: 48px;
    vertical-align: middle;
    }
.delbutton {
	background-color:red;
	cursor:pointer;
	color:white;
  font-weight:bold;
  opacity: 0.6;

}
.delbutton:hover{
  opacity: 1;
}
.addbutton {
  color:white;
  text-decoration:none;
  margin-left:5px; 
  cursor: pointer; 
}

.addbutton:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

